.loginPage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
}

.userAvatarContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}